# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# npm package lock file
package-lock.json

# Debugger and editor settings
.vscode/
.idea/

# Build files
/dist
/build

# OS files
.DS_Store
Thumbs.db

# Dependency directories
/coverage
